---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Colours
$primary: #333;
$secondary: #999;
$accent-color: #68BF74;
$header-border-color: #CCC;
$archived-color: #f7931d;

$primary-background-color: #FFF;
$secondary-background-color: #F3F4F4;

// Our variables
$base-font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Width of the content area
$content-width:    1200px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "styles";
