---
layout: default
include_at_bottom: scripts_home.html
---

<div class="usa-concepts usa-home usa-banner">
  <div class="grid">
    <div class="usa-width-six">
      <h1>
        {{ site.data.home.banner_title }}
      </h1>

      {% for line in site.data.home.banner_label %}
        <p>{{ line.text }}</p>
      {% endfor %}
    </div>
    <div class="usa-width-six banner-image">
      <img src="{{ site.baseurl }}/assets/img/openbeta-homepage-reactions.png" alt="">
    </div>
  </div>
</div>

<div id="usa-sidebar-wrapper">
  <div class="usa-concepts usa-section">
    <div class="grid">
      <div class="usa-width-twelve align-left">
        <h2 class="usa-banner-title usa-home-title">Comment on Proposed Enhancements</h2>
      </div>
    </div>
    <div class="grid">
      <div class="scroll-on-page">
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
            <a href="#active" class="tab-link is-active">Active</a>
            <div class="tab-content">
              <div class="usa-width-nine">

                {% for tab in site.data.home.active_tab %}

                  {% include concept_topic_row.html tab=tab %}

                {% endfor %}

              </div>

              <div class="usa-width-three">
                <aside id="scroll-on-page-top">
                {% for sidebar-item in site.data.home.active_tab %}
                  {% if forloop.first == true %}
                    <a class="scroll-on-page-link sidebar-is-active" href="#{{ sidebar-item.scroll_id }}">{{ sidebar-item.category }}</a>
                  {% else %}
                    <a class="scroll-on-page-link" href="#{{ sidebar-item.scroll_id }}">{{ sidebar-item.category }}</a>
                  {% endif %}
                {% endfor %}
                </aside>
              </div>

            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#completed" class="tab-link disabled">Completed</a>
            <div class="tab-content">
              <div class="usa-width-nine">

                {% for tab in site.data.home.completed_tab %}

                  {% include concept_topic_row.html tab=tab %}

                {% endfor %}

              </div>

              <div class="usa-width-three">
                <aside id="scroll-on-page-top">
                {% for sidebar-item in site.data.home.completed_tab %}
                  <a class="scroll-on-page-link" href="#{{ sidebar-item.scroll_id }}">{{ sidebar-item.category }}</a>
                {% endfor %}
                </aside>
              </div>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#archived" class="tab-link usa-archived-tab">Archived</a>
            <div class="tab-content">
              <div class="usa-width-nine">

                {% for tab in site.data.home.archived_tab %}

                  {% include concept_topic_row.html tab=tab headline_class='usa-archived-page' %}

                {% endfor %}

              </div>

              <div class="usa-width-three">
                <aside id="scroll-on-page-top">
                {% for sidebar-item in site.data.home.archived_tab %}
                  <a class="scroll-on-page-link usa-archived-item" href="#{{ sidebar-item.scroll_id }}">{{ sidebar-item.category }}</a>
                {% endfor %}
                </aside>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
