---
layout: default
---

<section class="usa-banner desktop">
  <div class="grid">
    <div class="carousel">
      {% for slide in site.data.home.carousel %}
      <div class="grid">
        <div class="usa-width-six">
          <div class="usa-banner-text">
            <h1>
              <span class="usa-banner-subtitle">
                {{ slide.usa_intro }}
              </span>
              {{ slide.banner_title }}
            </h1>
            <h2>{{ slide.banner_label }}</h2>
            <a href="{{ slide.banner_cta_link }}">
              <h3 class="usa-cta">
                {{ slide.banner_cta }}
              </h3>
            </a>
          </div>
        </div>

        <div class="usa-width-six right-aligned-image">
          <img src="{{ site.baseurl }}{{ slide.banner_image }}" alt="{{ slide.banner_image_alt_text }}">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="usa-banner mobile">
  <div class="grid">
    <div class="carousel">
      {% for slide in site.data.home.carousel %}
      <div class="grid">
        <div class="usa-width-twelve">
          <div class="usa-banner-text">
            <h1>
              <span class="usa-banner-subtitle">
                {{ slide.usa_intro }}
              </span>
              {{ slide.banner_title }}
            </h1>
            <h2>{{ slide.banner_label }}</h2>
            <a href="{{ slide.banner_cta_link }}">
              <h3 class="usa-cta">
                {{ slide.banner_cta }}
              </h3>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="usa-section">
  <div class="grid">
    <div class="usa-width-six">
      <h1 class="usa-banner-title">
        {{ site.data.home.first_section_title }}
      </h1>
      <h2 class="usa-intro">
        {{ site.data.home.first_section_intro }}
      </h2>
      <h3 class="usa-text">
        {{ site.data.home.first_section_text }}
      </h3>
      <a href="{{ site.data.home.first_section_cta_link }}">
        <h3 class="usa-cta">
          {{ site.data.home.first_section_cta }}
        </h3>
      </a>
    </div>

    <div class="usa-width-six right-aligned-image">
      <img src="{{ site.baseurl }}{{ site.data.home.first_section_img }}">
    </div>
  </div>
</section>

<section class="usa-section usa-section-alt">
  <div class="grid">
    <div class="usa-width-six">
      <img src="{{ site.baseurl }}{{ site.data.home.second_section_img }}">
    </div>

    <div class="usa-width-six">
      <h1 class="usa-banner-title">
        {{ site.data.home.second_section_title }}
      </h1>
      <h2 class="usa-intro">
        {{ site.data.home.second_section_intro }}
      </h2>
      <h3 class="usa-text">
        {{ site.data.home.second_section_text }}
      </h3>
      <a href="{{ site.data.home.second_section_cta_link }}">
        <h3 class="usa-cta">
          {{ site.data.home.second_section_cta }}
        </h3>
      </a>
    </div>
  </div>
</section>

<section class="usa-section">
  <div class="grid">
    <div class="usa-width-six">
      <h1 class="usa-banner-title">
        {{ site.data.home.third_section_title }}
      </h1>
      <h2 class="usa-intro">
        {{ site.data.home.second_section_intro }}
      </h2>
      <h3 class="usa-text">
        {{ site.data.home.third_section_text }}
      </h3>
      <a href="{{ site.data.home.third_section_cta_link }}">
        <h3 class="usa-cta">
          {{ site.data.home.third_section_cta }}
        </h3>
      </a>
    </div>

    <div class="usa-width-six right-aligned-image">
      <img src="{{ site.baseurl }}{{ site.data.home.third_section_img }}">
    </div>
  </div>
</section>