/* * * * * * * * * * * * * * * * * * * * * * *

  About Page

* * * * * * * * * * * * * * * * * * * * * * */

#about, #contact, #commenting-policy {
  .usa-width-twelve {
    padding: 1em 6em 6em 6em;
    text-align: left;

    @include media($medium) {
      padding: 0em 1em;
    }
  }

  ol {
    list-style-type: decimal;
  }

  a {
    text-decoration: none;
  }

  a:focus {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
  }
}

.usa-about {

  &.usa-banner {
    background-image: url(../assets/img/header_about.png);
    background-size: cover;
    padding: 40px 0;
    color: #000000;

    @include media($medium) {
      padding: 30px 10px;
      height: auto;
    }

    @include media($small) {
      padding: 20px;
      height: auto;
    }

    h1  {
      text-shadow: 1px 1px 2px #808080;
    }
    a {
      color: #000000;
    }
    }
  }
}
