/* * * * * * * * * * * * * * * * * * * * * * *

  About Page

* * * * * * * * * * * * * * * * * * * * * * */

#about, #contact, #commenting-policy {
  .usa-width-twelve {
    padding: 1em 6em 6em 6em;
    text-align: left;

    @include media($medium) {
      padding: 0em 1em;
    }
  }

  ol {
    list-style-type: decimal;
  }

  a {
    text-decoration: none;
  }

  a:focus {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: underline;
  }
}