/* * * * * * * * * * * * * * * * * * * * * * *

  Concepts Collection Pages

* * * * * * * * * * * * * * * * * * * * * * */

.usa-concepts {

  &.usa-banner {
    background-image: url(../assets/img/header_concepts-01.png);
    background-size: cover;
    padding: 70px 0;

    @include media($medium) {
      padding: 30px 10px;
      height: 250px;
    }

    @include media($small) {
      padding: 20px;
      height: 275px;
    }

    h1, h2 {
      text-shadow: 1px 1px 2px #808080;
    }
  }

  &.usa-section {
    padding: 60px 0;
  }

  .grid {
    width: 100%;

    .scroll-on-page {
      width: 100%;
    }
  }

  .usa-intro {
    margin-bottom: 0;
  }

  .usa-disclaimer-bold {
    font-weight: 700;
  }
}

.usa-main-content {
  margin: 3em 1em 3em 0;

  @include media($medium) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.list-header {
  font-weight: bold;
}

.scroll-on-page a.full-screen-image {
  color: $accent-color;
}

.full-screen-image:after {
  font-family: 'FontAwesome';
  content: "\f065";
  padding-left: 0.5em;
}

.image-background {
  background-color: #efefef;
  padding: 2em 1.2em;
  margin-bottom: 2em;

  img {
    box-shadow: 0px 0px 20px #cfcfd0;
  }
}

.total-concepts {
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.usa-no-tabs {
  padding-left: 1em;

  .usa-disclaimer {
    margin-top: 0;
  }
}
