/* * * * * * * * * * * * * * * * * * * * * * *

  Concepts Landing Page

* * * * * * * * * * * * * * * * * * * * * * */

.usa-concepts {

  &.usa-banner {
    background-image: url(../assets/img/header_concepts-01.png);
    background-size: cover;
    padding: 70px 0;

    @include media($medium) {
      padding: 30px 10px;
      height: 250px;
    }

    @include media($small) {
      padding: 20px;
      height: 275px;
    }

    h1, h2 {
      text-shadow: 1px 1px 2px #808080;
    }
  }

  &.usa-section {
    padding: 60px 0;
  }

  .grid {
    width: 100%;

    .scroll-on-page {
      width: 100%;
    }
  }

  .usa-intro {
    margin-bottom: 0;
  }

  .usa-disclaimer-bold {
    font-weight: 700;
  }

  .disqus-comment-count,
  .vote-count {
    display: inline-block;
    color: lighten($primary, 15%);
    font-size: 0.8em;
    font-weight: normal;
  }

  .vote-count {
    margin-left: 0.5em;
  }
}

.usa-main-content {
  margin: 3em 1em 3em 0;

  @include media($medium) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.list-header {
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.padding-bottom {
  padding-bottom: 1em;
}

.external-link:after {
  font-family: 'FontAwesome';
  content: "\f08e";
  padding-left: 0.5em;
}

.full-screen-image:after {
  font-family: 'FontAwesome';
  content: "\f065";
  padding-left: 0.5em;
}

.image-background {
  background-color: #efefef;
  padding: 2em 1.2em;
  margin-bottom: 2em;

  img {
    box-shadow: 0px 0px 20px #cfcfd0;
  }
}

.usa-vote-header {
  border-bottom: 1px solid #dcdcdc;
  font-size: 1.3em;
  text-align: center;
  padding-bottom: .5em;
  margin-bottom: 1em
}

.usa-vote-container {
  margin-bottom: 1em;
  white-space: nowrap;
}

#vote-up, #vote-down {
  @include hide-text;
  @include retina-image('../assets/img/thumbs-sprites', 112px 108px);

  width: 56px;
  height: 54px;
  margin: 0 1.5em;
  padding: 0;
  border: none;
  background-color: $primary-background-color;
  cursor: pointer;
}

#vote-up.vote-disabled {
  background-position: 0 -54px;
}

#vote-down {
  background-position: -56px 0;
  &.vote-disabled {
    background-position: -56px -54px;
  }
}

#vote-down-count, #vote-up-count {
  font-size: 1.3em;
  vertical-align: middle;
}

.total-concepts,
.comments-count {
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.usa-no-tabs {
  padding-left: 1em;

  @include media($medium) {
    padding-right: 1em;
  }

  .usa-disclaimer {
    margin-top: 4em;
  }

  + .usa-width-three {
    padding-right: 1em;
  }
}