/* * * * * * * * * * * * * * * * * * * * * * *

  FOOTER 

* * * * * * * * * * * * * * * * * * * * * * */

.usa-data-act-footer {
  background-color: $secondary-background-color;
  border-top: 2px solid #CCC;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  text-align: center;

  h3 {
    font-size: 1em;
    margin-top: 0.9em;

    @include media($large) {
      margin-top: 0;
    }
  }

  .usa-data-act-logo {
    margin-left: 0.6em;

    @include media($medium) {
      margin-bottom: 0.8em;
      margin-left: 0;
      width: 200px;
    }
  }
}

.open-beta-footer {
  background-color: #404041;
  border-top: 6px solid $primary;
  text-align: center;

  .grid {
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    .usa-width-twelve {
      padding-left: 0;
      text-align: left;

      @include media($medium) {
        text-align: center;
      }

      .usa-transparent-logo {
        width: 300px;

        @include media($medium) {
          width: 200px;
        }
      }
    }
  }
}

.open-beta-footer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;

  @include media($medium) {
    content: none;
  }
}