/* * * * * * * * * * * * * * * * * * * * * * *

  Home Page 

* * * * * * * * * * * * * * * * * * * * * * */

.grid {
  @include outer-container;
}

.usa-width-two {
  @include span-columns(2);

  @include media($medium) {
    @include span-columns(8);

    padding-left: 1em;
    padding-right: 1em;
  }  
}

.usa-width-three {
  @include span-columns(3);

  @include media($medium) {
    @include span-columns(8);
  }  
}

.usa-width-six {
  @include span-columns(6);
  
  padding-left: 1em;
  padding-right: 1em;

  @include media($medium) {
    img {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  @include media($medium) {
    @include span-columns(8);
  }
}

.usa-width-nine {
  @include span-columns(9);

  @include media($medium) {
    @include span-columns(8);
  }
}

.usa-width-ten {
  @include span-columns(10);

  @include media($medium) {
    @include span-columns(8);

    padding-left: 1em;
    padding-right: 1em;
  }  
}

.usa-width-twelve {
  @include span-columns(12);

  padding-left: 1em;
  padding-right: 1em;
}

.usa-banner {
  background-color: $accent-color;
  border-top: 1px solid $header-border-color;
  color: #fff;
  padding: 60px 0;
  text-align: center;

  @include media($medium) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @include media($small) {
    padding: 3em 0.2em;
  }

  &.mobile {
    @include media(min-width 769px) {
      display: none;
    }
  }

  &.desktop {
    @include media($medium) {
      display: none;
    }
  }

  h1 {
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: 0;

    @include media($medium) {
      font-size: 2em;
    }

    span.usa-banner-subtitle {
      display: block;
      font-weight: lighter;
      font-size: 0.5em;
    }
  }

  h2 {
    font-size: 1.3em;

    @include media($small) {
      font-size: 1.2em;
    }
  }

  h3 {
    &.usa-cta {
      font-size: 1.6em;
      font-weight: lighter;
      margin-top: 1em;

      @include media($small) {
        font-size: 1.5em;
      }
    }
  }

  a {
    color: #fff;
  }

  .grid {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }

}

.usa-banner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.usa-section {
  text-align: center;
  padding: 60px 0;

  @include media($medium) {
    height: 100%;
    padding: 3em 1em;
  }

  @include media($small) {
    padding: 3em 0.2em;
  }

  .grid {
    display: inline-block;
    vertical-align: middle;

    .usa-width-six {
      text-align: left;

      &.right-aligned-image {
        text-align: right;

        @include media($medium) {
          text-align: left;
        }
      }
    }
  }
}

.usa-section:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.usa-section-alt {
  background-color: $secondary-background-color;
}

.usa-banner-title {
  font-size: 1.8em;
}

.usa-intro {
  font-size: 1.4em;
}

.usa-text {
  color: #525252;
  font-size: 1em;
  margin-bottom: 2em;
}

.usa-cta {
  font-weight: lighter;
}



.accordion-tabs-minimal {
  $base-border-color: #dcdcdc !default;
  $base-background-color: #fff !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $medium-screen: 40em !default;
  $tab-link-color: $dark-gray;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: #c0c0c0;
  $tab-mode: $medium-screen;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $tab-link-color;
    display: block;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;

    @include media($tab-mode) {
      border-top: 0;
      display: inline-block;
    }

    &:hover {
      color: $action-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}


.scroll-on-page {
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;

  display: inline-block;

  a {
    color: $action-color;
    text-decoration: none;
  }

  aside {
    /*@include media($large-screen) {
      @include span-columns(4);
    }*/
  }

  .scroll-on-page-link {
    border-bottom: 1px solid transparentize($action-color, 0.8);
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  article {
    h4 {
      margin: 0 0 0.5em 0;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    section p:last-of-type {
      margin-bottom: 2em;
    }

    /*@include media($large-screen) {
      @include span-columns(8);
    }*/
  }
}