/* * * * * * * * * * * * * * * * * * * * * * *

  Styles found in this file:

  - Top Navigation Bar
  - Sidebar Navigation
  - Tabs 

* * * * * * * * * * * * * * * * * * * * * * */


/* * * * * * * * * * * * * * * * * * * * * * *

  Top Navigation Bar 

* * * * * * * * * * * * * * * * * * * * * * */

nav {
  &.usa-site-navbar {
    height: 6rem;
    margin: 1rem 0 0.5rem;
    position: relative;

    @include media($medium) {
      height: 3.5rem;
      margin: 0.1em 0;
    }

    .logo {
      float: left;
      padding-left: 3rem;

      @include media($medium) {
        padding-left: 1em;
        width: 15em;
      }
    }

    #toggle {
      left: -100%;
      top: -100%;
      position: absolute;
      cursor: pointer;

      + label {
        cursor: pointer;
      }
    }

    #toggle:checked ~ ul {
      @include transition(all 0.3s ease-out);

      background-color: #fff;
      display: block;
      position: relative;
    }

    label {
      &.menu-btn {
        display: none;

        @include media($medium) {
          background-color: $accent-color;
          color: #fff;
          display: block;
          float: right;
          font-size: 1em;
          height: 3.6rem;
          margin-top: -0.1em;
          padding-top: 1em;
          padding-bottom: 1em;
          text-align: center;
          text-decoration: none;
          width: 15%;
        }

        @include media($small) {
          width: 25%;
        }
      }
    }

    ul {
      transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

      &.usa-topnavigation-list {
        float: right;
        padding-right: 3rem;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-transition: all 0.3s ease-out;  
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        transition: all .3s ease-in-out;
        transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

        &.usa-unstyled-list {
          list-style: none;

          @include media($medium) {
            display: none;
            margin: 0;
            padding: 0;
            width: 100%;
            transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
          }

          li {
            display: inline;
            padding: 0 1.5em;

            @include media($medium) {
              display: block;
              padding: 0;
            }

            a {
              &.usa-navigation-links {
                color: $primary;
                font-size: 1em;
                text-decoration: none;

                @include media($medium) {
                  border-bottom: 1px solid $header-border-color;
                  display: block;
                  padding: 0.8em;
                }

                &.active {
                  font-weight: bold;
                }
              }
            }

            a.usa-navigation-links:active {
              font-weight: bold;
            }

            a.usa-navigation-links:hover, a.usa-navigation-links:focus {
              color: $accent-color;
            }
          }

          li:first-child a {
              @include media($medium) {
                border-top: 1px solid $header-border-color;
              }
            }

          li:nth-last-child(1) {
            padding-right: 0.5em;
          }
        }
      }
    }
  }
}


/* * * * * * * * * * * * * * * * * * * * * * *

  Sidebar Navigation

  Refills: refills.bourbon.io

* * * * * * * * * * * * * * * * * * * * * * */

#scroll-on-page-top {
  a:first-child {
    padding-top: 0;
  }
}

.scroll-on-page {
  $base-border-color: #dcdcdc !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;

  display: inline-block;
  text-align: left;

  .accordion-tabs-minimal {
    margin-left: 1em;
    margin-right: 1em;
    position: relative;

    @include media($small) {
      margin-left: 1em;
      margin-right: 1em;
    }
  }

  .usa-width-three {
    @include media($medium) {
      display: none;
    }
  }

  a {
    color: $dark-gray;
    text-decoration: none;

    &.concept-headline {
      color: $accent-color;
      font-size: 1.1em;
      font-weight: 700;

      &.usa-archived-page {
        color: $archived-color;
      }
    }

    &.concept-headline:hover {
      text-decoration: underline;
    }

    &.concept-headline:focus {
      text-decoration: underline;
    }

    &.usa-archived-link {
      color: $archived-color;
      text-decoration: underline;
    }

    &.usa-archived-link:hover {
      text-decoration: none;
    }

    &.usa-archived-link:focus {
      text-decoration: none;
    }
  }

  .usa-link-to-archive {
    list-style: none;
    position: absolute;
    right: 0.2em;
    top: 0.8em;

    a {
      color: $accent-color;
    }
  }

  .scroll-on-page-link {
    display: block;
    margin-left: $base-spacing;
    outline: none;
    padding: 0.3em 0 0.3em 1em;

    &:last-child {
      margin-bottom: $base-spacing;
    }

    &.sidebar-is-active {
      border-bottom: 1px solid $base-border-color;
      border-left: 3px solid $accent-color;
      font-weight: bold;
      margin-bottom: 0.5em;

      &.usa-archived-item {
        border-left-color: $archived-color;
      }
    }
  }

  article {
    h4 {
      margin: 0 0 0.5em 0;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    section p:last-of-type {
      margin-bottom: 2em;
    }
  }
}


/* * * * * * * * * * * * * * * * * * * * * * *

  Tabs 

  Refills: refills.bourbon.io

* * * * * * * * * * * * * * * * * * * * * * */

.accordion-tabs-minimal {
  $base-border-color: #dcdcdc !default;
  $base-background-color: #fff !default;
  $base-spacing: 1.5em !default;
  $action-color: #41994d !default;
  $dark-gray: #333 !default;
  $medium-screen: 40em !default;
  $tab-link-color: $dark-gray;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: #c0c0c0;
  $tab-mode: $medium;

  @include clearfix;
  line-height: 1.5;
  padding: 0;

  .tab-header-and-content {
    list-style: none;
    display: inline;

    @include media($tab-mode) {
      display: block;
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    color: $accent-color;
    padding: ($base-spacing / 2) $gutter;
    text-decoration: none;
    border-top: 0;
    display: inline-block;

    &.disabled {
      color: #dcdcdc;
      cursor: default;

      &:hover {
        color: #dcdcdc;
      }

      &:focus {
        color: #dcdcdc;
      }
    }

    @include media($tab-mode) {
      border-top: $tab-border;
      display: block;
    }

    &:hover {
      color: $action-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;
      border: $tab-border;
      border-bottom-color: $tab-active-background;
      border-left: 3px solid $accent-color;
      color: $tab-link-color;
      font-weight: bold;
      margin-bottom: -1px;

      &.usa-archived-tab {
        border-left-color: $archived-color;
      }

      @include media($tab-mode) {
        border-right: none;

      }
    }
  }

  .tab-content {
    display: none;
    width: 100%;
    padding: 3em 0em;
    padding-bottom: 0;
    border-top: $tab-border;
    float: left;

    @include media($tab-mode) {
      float: none;
      border-top: none;
    }

    .usa-width-nine {
      @include media($tab-mode) {
        float: none;
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}