/* * * * * * * * * * * * * * * * * * * * * * *

  Typography

* * * * * * * * * * * * * * * * * * * * * * */

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/sourcesanspro-light-webfont.ttf");
  src: url("../assets/fonts/sourcesanspro-light-webfont.eot");
  font-weight: lighter;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/sourcesanspro-regular-webfont.ttf");
  src: url("../assets/fonts/sourcesanspro-regular-webfont.eot");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/sourcesanspro-bold-webfont.ttf");
  src: url("../assets/fonts/sourcesanspro-bold-webfont.eot");
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/sourcesanspro-italic-webfont.ttf");
  src: url("../assets/fonts/sourcesanspro-italic-webfont.eot");
  font-style: italic;
}