<footer class="usa-site-footer" role="footer">

  <div class="usa-data-act-footer">

    <div class="grid">
      <div class="usa-width-two">
        <img class="usa-data-act-logo" alt="{{ site.data.footer.data_act_logo_alt_text }}" src="{{ site.baseurl }}{{ site.data.footer.data_act_logo }}" > 
      </div>
      <div class="usa-width-ten">
        <h3>{{ site.data.footer.data_act_text }}</h3>
      </div>
    </div>

  </div>

  <div class="open-beta-footer">

    <div class="grid">
      <div class="usa-width-twelve">
        <img class="usa-transparent-logo" alt="{{ site.data.footer.open_beta_logo_alt_text }}" src="{{ site.baseurl }}{{ site.data.footer.open_beta_logo }}" > 
      </div>
    </div>

  </div>

</footer>
