<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/icons/favicon.ico">
  <link rel="shortcut icon" sizes="16x16" href="{{ site.baseurl }}/assets/icons/favicon-16x16.png">
  <link rel="shortcut icon" sizes="32x32" href="{{ site.baseurl }}/assets/icons/favicon-32x32.png">
  <link rel="shortcut icon" sizes="96x96" href="{{ site.baseurl }}/assets/icons/favicon-96x96.png">

  <!-- Apple -->
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/icons/apple-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/assets/icons/apple-icon-precomposed.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/icons/apple-icon-180x180.png">

  <!-- Android -->
  <link rel="manifest" href="manifest.json">
  <link rel="short icon" sizes="32x32" href="{{ site.baseurl }}/assets/icons/andoird-icon-32x32.png">
  <link rel="short icon" sizes="48x48" href="{{ site.baseurl }}/assets/icons/andoird-icon-48x48.png">
  <link rel="short icon" sizes="72x72" href="{{ site.baseurl }}/assets/icons/andoird-icon-72x72.png">
  <link rel="short icon" sizes="96x96" href="{{ site.baseurl }}/assets/icons/andoird-icon-96x96.pnf">
  <link rel="short icon" sizes="144x144" href="{{ site.baseurl }}/assets/icons/andoird-icon-144x144.png">
  <link rel="short icon" sizes="192x192" href="{{ site.baseurl }}/assets/icons/andoird-icon-192x192.png">

  <!-- IE10 & IE11 -->
  <meta name="application-name" content="OpenBeta.usaspending.gov">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/icons/ms-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/assets/icons/ms-icon-70x70.png">
  <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/assets/icons/ms-icon-150x150.png">
  <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/assets/icons/ms-icon-310x310.png">
  <meta name="msapplication-config" content="browserconfig.xml">


  <!-- Google Web Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">

  <!-- Slick Carousel -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendor/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendor/slick/slick-theme.css"/>

  <!-- Lightbox2 -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/vendor/lightbox2/lightbox.css"/>

  {% include google_analytics.html %}
</head>
