---
layout: default
title: Concepts
---

<section class="concepts usa-banner">
  <div class="grid">
    <div class="usa-width-twelve">
      <h1>
        {{ site.data.concepts-landing-page.banner_title }}
      </h1>

      {% for line in site.data.concepts-landing-page.banner_label %}
        <h2>{{ line.text }}</h2>
      {% endfor %}
    </div>
  </div>
</section>

<section class="concepts usa-section">
  <div class="grid">
    <div class="scroll-on-page">
      <ul class="accordion-tabs-minimal">
        <li class="tab-header-and-content">
          <a href="#active" class="tab-link is-active">Active</a>
          <div class="tab-content">
            <div class="usa-width-nine">

            {% for tab in site.data.concepts-landing-page.active_tab %}

              <h2 id="{{ tab.scroll_id }}" class="category-header">{{ tab.category }}</h2>
              <div class="category-section">
              {% for row in tab.topics %}
              
                <div class="topic-row">
                  <ul>
                    <li>
                      <h3>
                        <a class="concept-headline" href="{{ site.baseurl }}{{ row.link }}">{{ row.headline }}</a>
                      </h3>
                    </li>

                    <li>
                      {% if row.total_concepts == 1 %}
                        <p class="total-concepts">{{ row.total_concepts }} <span>concept</span></p>
                      {% else %}
                        <p class="total-concepts">{{ row.total_concepts }} <span>concepts</span></p>
                      {% endif %}
                    </li>
                  </ul>

                  <p>{{ row.description }}</p>
                </div>
              
              {% endfor %}
              </div>
            {% endfor %}

            </div>
            
            <div class="usa-width-three">
              <aside id="scroll-on-page-top">
              {% for sidebar-item in site.data.concepts-landing-page.active_tab %}
                {% if forloop.first == true %}
                  <a class="scroll-on-page-link is-active" href="#{{ sidebar-item.scroll_id }}">{{ sidebar-item.category }}</a>
                {% else %}
                  <a class="scroll-on-page-link" href="#{{ sidebar-item.scroll_id }}">{{ sidebar-item.category }}</a>
                {% endif %}
              {% endfor %}
              </aside>
            </div>

          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#completed" class="tab-link disabled">Completed</a>
          <div class="tab-content">
            <div class="usa-width-nine">

            {% for tab in site.data.concepts-landing-page.completed_tab %}

              <h2 id="{{ tab.scroll_id }}" class="category-header">{{ tab.category }}</h2>

              {% for row in tab.topics %}
                <h3>
                  <a href="{{ row.link }}">{{ row.headline }}</a>
                </h3>
                <p>{{ row.description }}</p>
              {% endfor %}
              
            {% endfor %}
            </div>
            
            <div class="usa-width-three">
              <aside id="scroll-on-page-top">
              {% for sidebar-item in site.data.concepts-landing-page.completed_tab %}
                <a class="scroll-on-page-link" href="#{{ sidebar-item.scroll_id }}">{{ sidebar-item.category }}</a>
              {% endfor %}
              </aside>
            </div>
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#archived" class="tab-link disabled">Archived</a>
          <div class="tab-content">
            <div class="usa-width-nine">

            {% for tab in site.data.concepts-landing-page.archived_tab %}

              <h2 id="{{ tab.scroll_id }}" class="category-header">{{ tab.category }}</h2>

              {% for row in tab.topics %}
                <h3>
                  <a href="{{ row.link }}">{{ row.headline }}</a>
                </h3>
                <p>{{ row.description }}</p>
              {% endfor %}
              
            {% endfor %}
            </div>
            
            <div class="usa-width-three">
              <aside id="scroll-on-page-top">
              {% for sidebar-item in site.data.concepts-landing-page.archived_tab %}
                <a class="scroll-on-page-link" href="#{{ sidebar-item.scroll_id }}">{{ sidebar-item.category }}</a>
              {% endfor %}
              </aside>
            </div>   
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>