---
layout: default
---

<section class="usa-concepts usa-banner-block"></section>

<section id="commenting-policy" class="usa-section">
  <div class="grid">
    <div class="usa-width-twelve">
      {% for headline in site.data.commenting-privacy-policy.headline %}
        <h1 class="usa-banner-title list-header">
          {{ headline.text }}
        </h1>
      {% endfor %}

      {% for paragraph in site.data.commenting-privacy-policy.content %}
        <p>{{ paragraph.text | replace: '!SITE_BASEURL!', site.baseurl }}</p>
      {% endfor %}
    </div>
  </div>
</section>