<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="concepts">

    {% include header.html %}

    <div class="grid">
      <p>{{ page.category }}</p>
      <p>{{ page.headline }}</p>

      {% for item in page.copy %}
        <p>{{ item.text }}</p>
      {% endfor %}

      <p>{{ page.discussion_title }}</p>
      <ul>
        {% for item in page.discussion_bullet_points %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    

      <div class="scroll-on-page">
        <ul class="accordion-tabs-minimal">
        {% for tab in page.tabs %}

          <li class="tab-header-and-content">

            {% if forloop.first == true %}
              {% assign class = "tab-link is-active" %}
            {% else %}
              {% assign class = "tab-link" %}
            {% endif %}

            <a href="{{ tab.url_hash }}" class="{{ class }}" onclick="reset('{{ tab.disqus_identifier }}', '{{ tab.disqus_url }}');">{{ tab.title }}
              <div class="disqus-concept-comment-count" data-disqus-identifier="{{ tab.disqus_identifier }}"></div>
              <div class="disqus-thread-updated" data-disqus-identifier="{{ tab.disqus_identifier }}"></div>
            </a>
            
            <div class="tab-content">
              <div id="concept-summary" class="usa-width-nine">
                <p>{{ tab.description }}</p>
                <ul>
                {% for item in tab.features %}
                  <li>{{ item.description }}</li>
                {% endfor %}
                </ul>

              </div>

              <div class="usa-width-three">
                <aside id="scroll-on-page-top">
                  <a class="scroll-on-page-link" href="#concept-summary">Concept Summary</a>
                  <a class="scroll-on-page-link" href="#discussion">Discussion</a>
                </aside>
              </div>
            </div>
          
          </li>

        {% endfor %}
        </ul>
      </div>

    </div>

    <div class="grid">
      {% for tab in page.tabs %}

        {% if forloop.first == true %}
          {% include disqus.html disqus_identifier=tab.disqus_identifier disqus_url=tab.disqus_url %}
        {% endif %}

      {% endfor %}
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/slick/slick.min.js"></script>
    <script id="dsq-count-scr" src="{{ site.baseurl }}/assets/js/count.js" async></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.2/jquery.timeago.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>

  </body>

</html>
