<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="usa-concepts usa-banner-block"></div>

    <div class="usa-concepts">
      <div class="grid">
        <div class="usa-width-twelve usa-main-content">
          <h1 class="usa-intro">{{ page.category }}</h1>

          <ul class="usa-archived-items">
            <li><h1 class="usa-banner-title list-header">{{ page.headline }}</h2></li>

            {% if page.archived_page == true %}
              <li><span class="usa-archived-button">Archived</span></li>
            {% endif %}
          </ul>

          {% if page.archived_page == true %}
            <p class="usa-archived-text usa-bold">{{ page.archived_page_text }}</p>
          {% endif %}

          {% for item in page.copy %}
            <p>{{ item.text }}</p>
          {% endfor %}

          <p class="list-header">{{ page.discussion_title }}</p>
          <ul>
            {% for item in page.discussion_bullet_points %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {% if page.tabs_required == false %}

      <div id="usa-sidebar-wrapper">
        <div class="usa-concepts">
          <div class="grid">
            <div class="scroll-on-page">
              <div id="concept-summary" class="usa-width-nine usa-no-tabs">

              {% for item in page.no_tabs %}

                {% if page.archived_page == true %}
                  <p class="usa-archived-text">{{ page.archived_text }}</p>
                {% endif %}

                <p class="list-header">{{ item.description }}</p>
                <ul>
                {% for list in item.features %}
                  {% if list.description %}
                    <li>{{ list.description }}</li>
                  {% endif %}
                {% endfor %}
                </ul>

                <ul class="usa-disclaimer">
                {% if item.disclaimer_text %}
                  <li>{{ item.disclaimer_text }}</li>
                {% else %}
                  <li></li>
                {% endif %}

                  {% if page.archived_page == true %}
                    {% assign class = "full-screen-image usa-archived-text" %}
                  {% else %}
                    {% assign class = "full-screen-image" %}
                  {% endif %}

                  <li><a class="{{ class }}" href="{{ site.baseurl }}{{ item.image }}" data-lightbox="concepts">View Fullscreen</a></li>
                </ul>

                <div class="image-background">
                  <img src="{{ site.baseurl }}{{ item.image }}" alt="{{ item.image_alt_text }}" >
                </div>

              {% endfor %}

              </div>

              <div class="usa-width-three">
                <aside id="scroll-on-page-top">

                  {% if page.archived_page == true %}
                    {% assign class = "scroll-on-page-link sidebar-is-active usa-archived-item" %}
                  {% else %}
                    {% assign class = "scroll-on-page-link sidebar-is-active" %}
                  {% endif %}

                  <a class="{{ class }}" href="#concept-summary">Concept Summary</a>

                  {% if page.archived_page == true %}
                    {% assign class = "scroll-on-page-link usa-archived-item" %}
                  {% else %}
                    {% assign class = "scroll-on-page-link" %}
                  {% endif %}

                  <a class="{{ class }}" href="#discussion">Discussion</a>

                </aside>
              </div>
            </div>
          </div>
        </div>

        <div class="usa-concepts">
          <div class="grid">
            <div id="discussion" class="usa-width-nine">
              <div class="row usa-vote-header"> What do you think of this? </div>
              <div class="row grid">
                <div class="usa-vote-container usa-width-six">
                  <button class="vote-up"
                    id="vote-up"
                    data-disqus-identifier={{ site.data.disqus[page.no_tab.disqus_key].id }}
                    data-disqus-url="{{ site.data.disqus[page.no_tab.disqus_key].url }}"
                  >
                    Vote thumbs up if you like this concept
                  </button>
                  <span id="vote-up-count">Loading likes...</span>
                </div>
                <div class="usa-vote-container usa-width-six">
                  <button class="vote-down"
                    id="vote-down"
                    data-disqus-identifier="{{ site.data.disqus[page.no_tab.disqus_key].id }}"
                    data-disqus-url="{{ site.data.disqus[page.no_tab.disqus_key].url }}"
                  >
                    Vote thumbs down if you dislike this concept
                  </button>
                  <span id="vote-down-count">Loading dislikes...</span>
                </div>
              </div>
              <div class="topic-row">

                {% if page.archived_page == true %}
                  <p>Read our <a class="usa-archived-text" href="{{ site.baseurl }}/commenting-policy">Commenting Policy</a> for more information about our discussions.</p>
                {% else %}
                  <p>Read our <a href="{{ site.baseurl }}/commenting-policy">Commenting Policy</a> for more information about our discussions.</p>
                {% endif %}

              </div>

              {% if page.archived_page == true %}
                <div id="disqus_thread" class="usa-archived-text"></div>
              {% else %}
                <div id="disqus_thread"></div>
              {% endif %}

              {% assign disqus_id = site.data.disqus[page.no_tab.disqus_key].id %}
              {% assign disqus_url = site.data.disqus[page.no_tab.disqus_key].url %}

              {% include discussion.html disqus_identifier=disqus_id disqus_url=disqus_url tab_title=tab.title %}

            </div>
          </div>
        </div>
      </div>

    {% else %}
      <div id="usa-sidebar-wrapper">
        <div class="usa-concepts">
          <div class="grid">
            <div class="scroll-on-page">
              <ul class="accordion-tabs-minimal">
              {% for tab in page.tabs %}

                <li class="tab-header-and-content">

                  {% if forloop.first == true %}
                    {% if page.archived_page == true %}
                      {% assign class = "tab-link usa-archived-tab is-active" %}
                    {% else %}
                      {% assign class = "tab-link is-active" %}
                    {% endif %}
                  {% else %}
                    {% if page.archived_page == true %}
                      {% assign class = "tab-link usa-archived-tab" %}
                    {% else %}
                      {% assign class = "tab-link" %}
                    {% endif %}
                  {% endif %}

                  <a href="{{ tab.url_hash }}" class="{{ class }}"
                    onclick="reset(
                      '{{ site.data.disqus[tab.disqus_key].id }}',
                      '{{ site.data.disqus[tab.disqus_key].url }}'
                    );">
                    {{ tab.title }}
                    <div>
                      <div class="disqus-comment-count"
                        data-disqus-identifier="{{ site.data.disqus[tab.disqus_key].id }}"
                      ></div>
                      <div class="vote-count"
                        data-disqus-identifier="{{ site.data.disqus[tab.disqus_key].id }}"
                      ></div>
                    </div>
                  </a>

                  <div class="tab-content">
                    <div id="concept-summary" class="usa-width-nine">

                      {% if page.archived_page == true %}
                        <p class="usa-archived-text">{{ tab.archived_text }}</p>
                      {% endif %}

                      <p class="list-header">{{ tab.description }}</p>
                      <ul>
                      {% for item in tab.features %}
                        <li>{{ item.description }}</li>
                      {% endfor %}
                      </ul>

                      <ul class="usa-disclaimer">
                      {% if tab.disclaimer_text %}
                        <li>{{ tab.disclaimer_text }}</li>
                      {% else %}
                        <li></li>
                      {% endif %}

                        {% if page.archived_page == true %}
                          {% assign class = "full-screen-image usa-archived-text" %}
                        {% else %}
                          {% assign class = "full-screen-image" %}
                        {% endif %}

                        <li><a class="{{ class }}" href="{{ site.baseurl }}{{ tab.image }}" data-lightbox="concepts">View Fullscreen</a></li>
                      </ul>

                      <div class="image-background">
                        <img src="{{ site.baseurl }}{{ tab.image }}" alt="{{ tab.image_alt_text }}" >
                      </div>

                    </div>

                    <div class="usa-width-three">
                      <aside id="scroll-on-page-top">

                        {% if page.archived_page == true %}
                          {% assign class = "scroll-on-page-link sidebar-is-active usa-archived-item" %}
                        {% else %}
                          {% assign class = "scroll-on-page-link sidebar-is-active" %}
                        {% endif %}

                        <a class="{{ class }}" href="#concept-summary">Concept Summary</a>

                        {% if page.archived_page == true %}
                          {% assign class = "scroll-on-page-link usa-archived-item" %}
                        {% else %}
                          {% assign class = "scroll-on-page-link" %}
                        {% endif %}

                        <a class="{{ class }}" href="#discussion">Discussion</a>

                      </aside>
                    </div>
                  </div>

                </li>

              {% endfor %}

              {% if page.link_to_archived_designs != nil %}
                <li class="usa-cta usa-link-to-archive"><a href="{{ site.baseurl }}{{ page.link_to_archived_designs }}">Archived Designs</a></li>
              {% endif %}

              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="usa-concepts">
        <div class="grid">
          {% for tab in page.tabs %}

            {% if forloop.first == true %}

            <div id="discussion" class="usa-width-nine">

              <div class="row usa-vote-header"> What do you think of this? </div>
              <div class="row grid">
                <div class="usa-vote-container usa-width-six">
                  <button class="vote-up"
                    id="vote-up"
                    data-disqus-identifier="{{ site.data.disqus[tab.disqus_key].id }}"
                    data-disqus-url="{{ site.data.disqus[tab.disqus_key].url }}"
                  >
                    Vote thumbs up if you like this concept
                  </button>
                  <span id="vote-up-count">Loading likes...</span>
                </div>
                <div class="usa-vote-container usa-width-six">
                  <button class="vote-down"
                    id="vote-down"
                    data-disqus-identifier="{{ site.data.disqus[tab.disqus_key].id }}"
                    data-disqus-url="{{ site.data.disqus[tab.disqus_key].url }}"
                  >
                    Vote thumbs down if you dislike this concept
                  </button>
                  <span id="vote-down-count">Loading dislikes...</span>
                </div>
              </div>
              <div class="topic-row">

                {% if page.archived_page == true %}
                  <p>Read our <a class="usa-archived-text" href="{{ site.baseurl }}/commenting-policy">Commenting Policy</a> for more information about our discussions.</p>
                {% else %}
                  <p>Read our <a href="{{ site.baseurl }}/commenting-policy">Commenting Policy</a> for more information about our discussions.</p>
                {% endif %}

              </div>

              {% if page.archived_page == true %}
                <div id="disqus_thread" class="usa-archived-text"></div>
              {% else %}
                <div id="disqus_thread"></div>
              {% endif %}

              {% assign disqus_id = site.data.disqus[tab.disqus_key].id %}
              {% assign disqus_url = site.data.disqus[tab.disqus_key].url %}

              {% include discussion.html disqus_identifier=disqus_id disqus_url=disqus_url %}

            </div>

            {% endif %}

          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% include footer.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/lightbox2/lightbox.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/sticky-kit/sticky-kit.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/discussion.js"></script>
    <script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>

  </body>

</html>
