<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/jquery/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/vendor/sticky-kit/sticky-kit.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>

    {% if page.include_at_bottom %}
      {% include {{ page.include_at_bottom }} %}
    {% endif %}

  </body>

</html>
